%head
  %title
    = yield(:title) || "Untitled"
  %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
  = stylesheet_link_tag [ "application" ]
  <link rel="shortcut icon" href="/images/favicon.gif" />
  - if Rails.env == "production"
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'
  - else
    = javascript_include_tag 'jquery.min'

  = javascript_include_tag ['rails', 'application'], :cache => 'base'
  = yield(:extra_scripts)
    
  = csrf_meta_tag
  = yield(:head)
%body
